.homeheroh1{
  font-size: 6rem;
  color: #000000;
  font-family: 'Clash Grotesk', sans-serif;
  font-weight: 400;
}

.homeheroh2{
  font-size: 3rem;
  color: black;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  margin-top: 2px;
  margin-left: 5px;
}

.homeherop{
  font-size: 2rem;
  color: #000000;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  margin-top: 0px;
  margin-left: 8px;
}

.homeheroatag{

}

.herotextandbutton{
  margin-left: 40px;
  padding-top: 10%;
}

@media (max-width:640px){

  .homeheroh1{
    font-size: 2rem;
    color: #000000;
    font-family: 'Clash Grotesk', sans-serif;
    font-weight: 400;
  }
  
  .homeheroh2{
    font-size: 1.5rem;
    color: black;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    margin-top: 2px;
    margin-left: 5px;
    line-height: 1.5rem;
  }
  
  .homeherop{
    font-size: 1.2rem;
    color: #000000;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin-top: 0px;
    margin-left: 8px;
  }
  
  .homeheroatag{
  
  }

  .herotextandbutton{
    margin-left: 5px;
    padding-top: 50%;
  }
}